
body {
  background: url('../img/esterno_cvs.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.main-title {
  color: #92a8d1;
}

#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}